.first-section {
    &__container {
        position: relative;
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        background: url($b64_bg_LG) no-repeat top;
        background-size: 1920px;

        @media screen and (max-width: #{$MD}) {
            background: url($b64_bg_MD) no-repeat top;
            background-size: $MD;
        }

        @media screen and (max-width: #{$XS}) {
            background-size: $XS;
        }

        @media screen and (max-width: #{$XXS}) {
            background-size: $XXS;
        }
    }
    &__title {
        display: none;
    }
}
.first-slider {
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    height: 1060px;
    
    @media screen and (max-width: #{$MD}) {
        max-width: $MD;
        height: 1132px;
    }

    @media screen and (max-width: #{$XS}) {
        height: 701px;
    }

    @media screen and (max-width: #{$XXS}) {
        height: 401px;
    }

    &__text {
        position: absolute;
        left: 50%;
        top: 305px;
        white-space: nowrap;
        transform: translateX(-50%);
        width: 100%;
        max-width: 956px;
        @extend %text;
        font-weight: 500;
        color: $PC;
        font-size: 38px;
        line-height: 1.049;
        padding-left: 504px;
        box-sizing: border-box;
        @media screen and (max-width: #{$MD}) {
            top: 374px;
        }
        @media screen and (max-width: #{$SM}) {
            max-width: 768px;
            padding-left: 412px;
        }
        @media screen and (max-width: #{$XS}) {
            top: 219px;
            padding-left: 144px;
            font-size: 24px;
            max-width: 280px;
        }
        @media screen and (max-width: #{$XXS}) {
            top: 128px;
            font-size: 14px;
        }
    }
    &__arows {
        display: none;
        position: absolute;
        top: 343px;
        width: 100%;
        max-width: 956px;
        height: 80px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}
.second-slider-wrapper {
    position: relative;
    max-width: 768px;
    text-align: center;
    &__arr-dawn {
        z-index: 3;
        position: absolute;
        bottom: 75px;
        left: 50%;
        transform: translateX(-50%);
        @media screen and (max-width: #{$SM}) {
            bottom: 107px;
        }
        @media screen and (max-width: #{$XS}) {
            bottom: 44px;
        }
        @media screen and (max-width: #{$XXS}) {
            width: 12px;
            bottom: 48px;
        }
    }
    @media screen and (max-width: #{$MD}) {
        max-width: 680px;
    }
    @media screen and (max-width: #{$XXS}) {
        max-width: 280px;
        top: 18px;
    }
    margin-left: auto;
    margin-right: auto;
    &__top-quote { 
        position: absolute;
        top: 105px;
        left: 0;
        @media screen and (max-width: #{$XS}) {
            top: 65px;
            left: 10px;
        }
        @media screen and (max-width: #{$XXS}) {
            top: 30px;
            width: 17px;
            height: 17px;
        }
    }
    &__bottom-quote {
        position: absolute;
        right: 0;
        top: 197px;
        @media screen and (max-width: #{$XS}) {
            top: 120px;
            right: 10px;
            width: 72px;
            height: 72px;
        }
        @media screen and (max-width: #{$XXS}) {
            top: 59px;
            width: 37px;
            height: 37px;
        }
    }
    &__pagination {
        position: static;
        &-wrapper {
            position: relative;
            height: 18px;
            margin-top: 52px;
            @media screen and (max-width: #{$XXS}) {
                margin-top: 10px;
            }
        }
        height: 16px; 
        @media screen and (max-width: #{$XS}) {
            top: auto;
            bottom: 118px!important;
        }
        @media screen and (max-width: #{$XXS}) {
            top: auto;
            bottom: 84px!important;
        }

        .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            @media screen and (max-width: #{$XXS}) {
                width: 8px;
                height: 8px;
            }
            box-sizing: border-box;
            background: white;
            border: 2px solid $BTC;
            opacity: 0.6;
            margin: 0 10px!important;
            @media screen and (max-width: #{$XXS}) {
                margin: 0 4px!important;
            }
            &.swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
    height: 456px;
    @media screen and (max-width: #{$MD}) {
        height: 492px;
    }
    @media screen and (max-width: #{$XS}) {
        height: 304px;
    }
    @media screen and (max-width: #{$XXS}) {
        height: 175px;
    }
    &__pagination-wrapper {
        position: relative;

    }
}
.second-slider {
    position: relative;
    box-sizing: border-box;
    padding-top: 54px;
    @media screen and (max-width: #{$XS}) {
        padding-top: 24px;
    }
    @media screen and (max-width: #{$XXS}) {
        padding-top: 14px;
    }
    z-index: 2;
    overflow: hidden;
    max-width: 768px;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &__content {
        
    }
    &__text, &__title {
        @extend %text;
        font-weight: 300;
        color: white;
    }
    &__title {
        font-size: 50px;
        margin-bottom: 40px;
        @media screen and (max-width: #{$XS}) {
            font-size: 28px;
        }
        @media screen and (max-width: #{$XXS}) {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    &__text {
        line-height: 1.2;
        font-size: 24px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: #{$XS}) {
            font-size: 18px;
            max-width: 300px;
        }
        @media screen and (max-width: #{$XXS}) {
            font-size: 10px;
            max-width: 168px;
        }
    }
}
.more-then {
    height: 608px;
    position: relative;
    margin-top: 230px;
    @media screen and (max-width: #{$MD}) {
        margin-top: 120px;
    }
    @media screen and (max-width: #{$XS - 1px}) {
        margin-top: 0;
        height: 246px;
    } 
    overflow: hidden;
    &__container {
        position: absolute;
        z-index: 1;
        width: 1920px;
        left: 50%;
        transform: translateX(-50%);
        height: 420px;
        @media screen and (max-width: #{$XS - 1px}) {
            height: 246px;
        }
    }
    &__content {
        position: absolute;
        bottom: 0;
        right: 526px;
        width: 912px;
        height: 415px;
        @media screen and (max-width: #{$SM}) {
            right: 457px;
        }
        @media screen and (max-width: #{$XS - 1px}) {
            height: 284px;
        } 
    }
    &__top-text, &__right-text {
        color: $PC;
    }
    &__top-text, &__middle-text, &__right-text {
        @extend %text;
        font-weight: 700;
        position: absolute;
    }
    &__top-text {
        font-size: 90.64px;
        line-height: 90.64px;
        z-index: 1;
        top: -8px;
        left: 4px;
        @media screen and (max-width: 866px) {
            left: 44px;
        }
        @media screen and (max-width: #{$XS - 1px}) {
            font-size: 32px;
            left: 272px;
            top: 50px;
        }
    }
    &__middle-text {
        font-size: 479.36px;
        line-height: 479.36px;
        color: $BTC;
        letter-spacing: -24px;
        top: 7px;
        z-index: 2;
        left: 115px;
        bottom: 0;
        @media screen and (max-width: #{$SM}) {
            right: 267px;
            left: auto;
        } 
        @media screen and (max-width: #{$XS - 1px}) {
            font-size: 159px;
            line-height: 150px;
            right: 432px;
            top: 89px;
            letter-spacing: -12px;
        } 
    }
    &__right-text {
        z-index: 3;
        right: -27px;
        top: 155px;
        font-size: 36.47px;
        line-height: 41.47px;
        @media screen and (max-width: #{$SM}) {
            right: 85px;
        }
        @media screen and (max-width: 866px) {
            right: 140px;
            font-size: 26.47px;
        }
        @media screen and (max-width: #{$XS - 1px}) {
            font-size: 12px;
            line-height: 18px;
            right: 368px;
            top: 126px;
        } 
    }

    &__buildings {
        width: 100%;
        height: 329px;
        // background: url($IMAGES_PATH + 'buildings.png') no-repeat center;
        background-size: 1920px;
        position: absolute;
        bottom: 0;
        z-index: 2;
        overflow: hidden;
        &-el-top, &-el-bottom {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            width: 1920px;
            @media screen and (min-width: #{$LG + 1}) {
                width: 100%;
            }
            @media screen and (max-width: #{$XS - 1px}) {
                width: #{$XS - 1px};
            }
            @media screen and (max-width: 644px) {
                width: 644px;
            } 
        }
        &-el-top {
            top: 0;
            z-index: 1;

        }
        &-el-bottom {
            bottom: 20px;
            z-index: 2;
        }
        &-overlay {
            position: absolute;
            bottom: 1px;
            z-index: 3;
            height: 20px;
            width: 100%;
            background: #3F95D5;
            
        }

        @media screen and (max-width: #{$XS - 1px}) {
            height: 113px;
            background-size: #{$XS - 1px};
        } 
        @media screen and (max-width: 644px) {
            background-size: 644px;
        } 

    }
}

.main-wrapper {
    background-image: url($IMAGES_PATH + 'bg_clouds.jpg');
    background-repeat: no-repeat;
    background-position: 0 1052px;
    background-size: 1920px;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: #{$LG + 1}) {
        background-size: 100%;
    }
    @media screen and (max-width: #{$MD}) {
        background-image: url($IMAGES_PATH + 'bg_clouds_MD.jpg');
        background-position: 0 1557px;
        background-size: 1240px;
    }
    @media screen and (max-width: #{$SM}) {
        background-image: url($IMAGES_PATH + 'bg_clouds_MD.jpg');
        background-position: -138px 1557px;
    }

    @media screen and (max-width: #{$XS}) {
        background-position: 94px 1050px;
        background-size: 100%;
    }

    @media screen and (max-width: #{$XS - 1px}) {
        background-position: 0 1050px;
        background-size: 100%;
    }

    @media screen and (max-width: 468px) {
        background-position: -66px 548px;
        background-size: 468px;
    }
}