.first-section {
    &__container {
        position: relative;
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        background: url('../images/1_bg_LG-min.png') no-repeat top;
        background-size: 1920px;

        @media screen and (max-width: #{$MD}) {
            background: url('../images/1_bg_MD-min.png') no-repeat top;
            background-size: $MD;
        }

        @media screen and (max-width: #{$XS}) {
            background-size: $XS;
        }

        @media screen and (max-width: #{$XXS}) {
            background-size: $XXS;
        }
    }
    &__title {
        display: none;
    }
}
.first-slider {
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    height: 1060px;
    
    @media screen and (max-width: #{$MD}) {
        max-width: $MD;
        height: 1132px;
    }

    @media screen and (max-width: #{$XS}) {
        height: 701px;
    }

    @media screen and (max-width: #{$XXS}) {
        height: 401px;
    }

    &__text {
        position: absolute;
        left: 50%;
        top: 305px;
        white-space: nowrap;
        transform: translateX(-50%);
        width: 100%;
        max-width: 956px;
        @extend %text;
        font-weight: 500;
        color: $PC;
        font-size: 38px;
        line-height: 1.049;
        padding-left: 504px;
        box-sizing: border-box;
        @media screen and (max-width: #{$MD}) {
            top: 374px;
        }
        @media screen and (max-width: #{$SM}) {
            max-width: 768px;
            padding-left: 412px;
        }
        @media screen and (max-width: #{$XS}) {
            top: 219px;
            padding-left: 144px;
            font-size: 24px;
            max-width: 280px;
        }
        @media screen and (max-width: #{$XXS}) {
            top: 128px;
            font-size: 14px;
        }
    }
    &__arows {
        display: none;
        position: absolute;
        top: 343px;
        width: 100%;
        max-width: 956px;
        height: 80px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}
.second-slider {
    position: relative;
    z-index: 2;
    overflow: hidden;
    max-width: 1571px;
    height: 456px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: #{$MD}) {
        height: 492px;
    }

    @media screen and (max-width: #{$XS}) {
        height: 304px;
    }
    @media screen and (max-width: #{$XXS}) {
        height: 175px;
    }
}