.header {
    position: absolute;
    z-index: 4;
    width: 100%;
    box-sizing: border-box;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        min-height: 60px;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 1142px;
        @media screen and (max-width: #{$MD - 1px}) {
            max-width: 878px;
        }
        padding-top: 56px;
        @media screen and (max-width: #{$XS}) {
            padding-top: 0;
        }
        margin-left: auto;
        margin-right: auto;
    }
}
.nav-button {
    position: relative;
    display: block;
    font-size: 0;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-appearance: none;
    background: none;
    border: none;
    padding: 0;
    line-height: 52px;
    height: 52px;
    &__menu-btn {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        box-sizing: border-box;
        width: 52px;
        height: 52px;
        min-height: 52px;
        min-width: 52px;
        line-height: 52px;
        border-radius: 52px;
        background-color: $BTC;
        @media screen and (max-width: #{$XS}) {
            width: 38px;
            height: 38px;
            min-height: 38px;
            min-width: 38px;
            line-height: 38px;
        }
    }
    &__text {
        display: inline-block;
        @extend %text;
        color: $PC;
        font-weight: 500;
        margin-left: 26px;
        font-size: 18px;
        line-height: 18px;
        vertical-align: middle;
        @media screen and (max-width: #{$XS}) { 
            font-size: 14px;
            margin-left: 16px;
        }
    }
}
.lk-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    &:after {
        content: '';
        display: none;
        position: absolute;
        bottom: -7px;
        width: 15px;
        height: 28px;
        background: $BTC;
        z-index: 1;
        right: 20px;
        border-radius: 0 0 15px 0;
    }
    &__content {
        position: relative;
        z-index: 2;
        display: inline-block;
        @extend %text;
        color: $PC;
        font-size: 18px;
        font-weight: 500;
        box-sizing: border-box;
        min-width: 189px;
        padding-right: 8px;
        padding-left: 8px;
        white-space: nowrap;
        height: 49px;
        line-height: 49px;
        text-align: center;
        background-color: $BTC;
        border-radius: 28px;
        @media screen and (max-width: #{$XS}) {
            min-width: 130px;
            height: 34px;
            line-height: 34px;
            font-size: 14px;
        }
    }
}