.ic-top-quote {
    background: url($IMAGES_PATH + 'ic_top_quote.png') no-repeat center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
}
.ic-bottom-quote {
    background: url($IMAGES_PATH + 'ic_bottom_quote.png') no-repeat center;
    display: inline-block;
    width: 114px;
    height: 103px;
    background-size: contain;
}
.ic-arr-dawn {
    background: url($IMAGES_PATH + 'ic_arr_down.png') no-repeat center;
    display: inline-block;
    width: 34px;
    height: 22px;
    background-size: contain;
    text-decoration: none;
}
.ic-fly {
    background: url($IMAGES_PATH + 'ic_fly.svg') no-repeat center;
    display: inline-block;
    width: 154px;
    height: 103px;
    background-size: contain;
    text-decoration: none;
} 
.ic-hammer {
    background: url($IMAGES_PATH + 'ic_hammer.svg') no-repeat center;
    display: inline-block;
    width: 124px;
    height: 124px;
    background-size: contain;
    text-decoration: none;
} 
.ic-sofa {
    background: url($IMAGES_PATH + 'ic_sofa.svg') no-repeat center;
    display: inline-block;
    width: 135px;
    height: 124px;
    background-size: contain;
    text-decoration: none;
}
.ic-arr-right {
    background: url($IMAGES_PATH + 'ic_arr_right.png') no-repeat center;
    display: inline-block;
    width: 44px;
    height: 69px;
    background-size: contain;
    text-decoration: none;
}
.ic-arr-left {
    background: url($IMAGES_PATH + 'ic_arr_left.png') no-repeat center;
    display: inline-block;
    width: 44px;
    height: 69px;
    background-size: contain;
    text-decoration: none;
}
.ic-calculator {
    background: url($IMAGES_PATH + 'ic_calculator.png') no-repeat center;
    display: inline-block;
    width: 63px;
    height: 79px;
    background-size: contain;
    text-decoration: none;
}
.ic-contact {
    background: url($IMAGES_PATH + 'ic_contact.png') no-repeat center;
    display: inline-block;
    width: 82px;
    height: 60px;
    background-size: contain;
    text-decoration: none;
}
.ic-loop {
    background: url($IMAGES_PATH + 'ic_loop.png') no-repeat center;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
    text-decoration: none;
}
.ic-wallet {
    background: url($IMAGES_PATH + 'ic_wallet.png') no-repeat center;
    display: inline-block;
    width: 81px;
    height: 93px;
    background-size: contain;
    text-decoration: none;  
}
// 36 36
.ic-fb {
    display: inline-block;
    background-image: url($IMAGES_PATH + 'ic_social_media.png');
    width: 36px;
    height: 36px;
    background-size: 36px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1px 0px;
}
.ic-insta {
    display: inline-block;
    background-image: url($IMAGES_PATH + 'ic_social_media.png');
    width: 36px;
    height: 36px;
    background-size: 36px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -60px 0px;
}
.ic-vk {
    display: inline-block;
    background-image: url($IMAGES_PATH + 'ic_social_media.png');
    width: 36px;
    height: 36px;
    background-size: 36px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -118px 0px;
}