.ic-top-quote {
    background: url('../images/ic_top_quote.png') no-repeat center;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
}
.ic-bottom-quote {
    background: url('../images/ic_bottom_quote.png') no-repeat center;
    display: inline-block;
    width: 114px;
    height: 103px;
    background-size: contain;
}
.ic-arr-dawn {
    background: url('../images/ic_arr_down.png') no-repeat center;
    display: inline-block;
    width: 34px;
    height: 22px;
    background-size: contain;
    text-decoration: none;
}
.ic-fly {
    background: url('../images/ic_fly.svg') no-repeat center;
    display: inline-block;
    width: 154px;
    height: 103px;
    background-size: contain;
    text-decoration: none;
} 
.ic-hammer {
    background: url('../images/ic_hammer.svg') no-repeat center;
    display: inline-block;
    width: 124px;
    height: 124px;
    background-size: contain;
    text-decoration: none;
} 
.ic-sofa {
    background: url('../images/ic_sofa.svg') no-repeat center;
    display: inline-block;
    width: 135px;
    height: 124px;
    background-size: contain;
    text-decoration: none;
}
.ic-arr-right {
    background: url('../images/ic_arr_right.png') no-repeat center;
    display: inline-block;
    width: 44px;
    height: 69px;
    background-size: contain;
    text-decoration: none;
}
.ic-arr-left {
    background: url('../images/ic_arr_left.png') no-repeat center;
    display: inline-block;
    width: 44px;
    height: 69px;
    background-size: contain;
    text-decoration: none;
}
.ic-calculator {
    background: url('../images/ic_calculator.png') no-repeat center;
    display: inline-block;
    width: 63px;
    height: 79px;
    background-size: contain;
    text-decoration: none;
}
.ic-contact {
    background: url('../images/ic_contact.png') no-repeat center;
    display: inline-block;
    width: 82px;
    height: 60px;
    background-size: contain;
    text-decoration: none;
}
.ic-loop {
    background: url('../images/ic_loop.png') no-repeat center;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-size: contain;
    text-decoration: none;
}
.ic-wallet {
    background: url('../images/ic_wallet.png') no-repeat center;
    display: inline-block;
    width: 81px;
    height: 93px;
    background-size: contain;
    text-decoration: none;  
}