
.navigation-block {
    width: 66%;
    display: block;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.94);
    width: 100%;
    height: 80%;
    text-align: center;
    @supports (height: calc(100% - 108px)){
        height: calc(100% - 108px);
        @media screen and (max-width: #{$XS}) {
            height: calc(100% - 60px);
        }
    }
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    overflow: auto;
    &.open {
        opacity: 1;
        z-index: 9;
        transition: 0.5s;
    }
    &__separator {
        width: 100%;
        max-width: 155px;
        margin-left: auto;
        margin-right: auto;
        height: 0;
        border-top: 2px solid $BTC;
        margin-bottom: 60px;
        margin-top: 60px;
        @media screen and (max-width: #{$XS}) {
            border-top: 1px solid $BTC;
        }
    }
}
body.mobile-menu-opened {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
    .header {
        position: fixed;
        z-index: 9999;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.94);
        transition: 0.5s;
    }
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    &:first-of-type {
        margin-top: 200px;
        @media screen and (max-width: #{$XS}) {
            margin-top: 120px;
        }
    }
    &__item {
        margin-bottom: 38px;
        &:last-of-type {
            margin-bottom: 0;
        }
        &--active {
            .menu__link {
                pointer-events: none;
                font-weight: 700;
                &:hover {
                    text-decoration: none;
                    cursor: default;
                }
            }
        }
    }
    &__link {
        @extend %text;
        color: $PC;
        font-weight: 500;
        font-size: 24px;
        @media screen and (max-width: #{$XS}) {
            font-size: 24px;
        }
        line-height: 1.2;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}