.section-why {
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: 770px;
    &__clouds {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 823px;
        background: url($IMAGES_PATH + 'bg_bottom_clouds.jpg') no-repeat top;
        background-size: 1920px;
        margin-top: -182px;
        padding-top: 182px;
        @media screen and (min-width: 1921px) {
            background-size: cover; 
        }
    }


    &__bg-box {
        position: absolute;
        width: 100%;
        left: 0;
        height: 20px;
        background: url($IMAGES_PATH + 'down_bg_lg.png') no-repeat center 38px;
        height: 820px;
        bottom: 0;
        z-index: 1;
        background-size: 1444px;
    }
    &__bg-shadow {
        left: 0;
        bottom: -200px;
        width: 100%;
        height: 200px;
        box-shadow: 0px 5px 114px 0px rgba(17, 116, 190, 0.43);
        position: absolute;
    }
    &__container {
        background: none;
        max-width: 1444px;
        margin-left: auto;
        margin-right: auto; 
        // background-size: 1444px;
        // background: red;
        position: relative;
        z-index: 2;
    }
    &__title {
        font-weight: 500;
        font-size: 80px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        margin: 0;
        color: white;
        min-height: 113px;
        padding-top: 146px;
        padding-bottom: 18px;
        margin-top: 254px
    }
}
.comics {
    &__item {
        position: relative;
        font-weight: 500;
        line-height: 1.2;
        font-size: 25px;
        background: white;
        box-sizing: border-box;
        padding-left: 51px;
        padding-right: 14px;
        padding-bottom: 18px;
        padding-top: 20px;
        border-radius: 25px;
        &--530 {
            width: 457px;
            left: 112px;
        }
    }
    &__section {
        margin-bottom: 70px;
        &--double {
            position: relative;
            left: 128px;
            margin-bottom: 0;
            .comics__item {
                &:first-child {
                    padding-right: 0;
                    padding-left: 15px;
                    padding-top: 27px;
                    width: 372px;
                }
                &:nth-child(2) {
                    left: -20px;
                    width: 387px;
                }
            }
        }
    }
    &__black-bird {
        right: 42px;
        top: 2px;
        width: 230px;
        height: 313px;
    }
}
.footer {
    position: relative;
    z-index: 2;
}
