$BTC: #4cb2ff;
$PC:  #1d3149;
$SC: #7b7b7b;
$WC: #ffffff;
$GRAYC: #beb4b9;
$DISABLEDC: #beb4b9;

$PAD: 10px;

$MEDIUM_WIDTH: 1364px;

$FONT_PATH: '../fonts/MuseoSansCyrl/';
$IMAGES_PATH: '../images/';
