@font-face {
    font-family: 'Museo Sans';
    src: url($FONT_PATH + 'museosanscyrl_100-webfont.woff2') format('woff2'),
         url($FONT_PATH + 'museosanscyrl_100-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Sans';
    src: url($FONT_PATH + 'museosanscyrl_300-webfont.woff2') format('woff2'),
         url($FONT_PATH + 'museosanscyrl_300-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url($FONT_PATH + 'museosanscyrl_500-webfont.woff2') format('woff2'),
         url($FONT_PATH + 'museosanscyrl_500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url($FONT_PATH + 'museosanscyrl_700-webfont.woff2') format('woff2'),
         url($FONT_PATH + 'museosanscyrl_700-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url($FONT_PATH + 'museosanscyrl_900-webfont.woff2') format('woff2'),
         url($FONT_PATH + 'museosanscyrl_900-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'PFCOM';
    src: url($FONT_PATH + 'PFDinTextCompPro-Regular.woff2') format('woff2'),
        url($FONT_PATH + 'PFDinTextCompPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}